* {
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
  
 .name{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 90px;
    width: 300px;
    height: 90px;
    }

.topcontainer{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

nav{
    float:right;
    margin-top:20px;
}

li, a {
    text-decoration:none;
    color:#999;
    font-family:Arial, Helvetica, sans-serif;
}

.contact{
    border-left: 1px solid #cccccc;
    padding-left:10px;
    margin-right:20px;
}

.portfolio{
    border-left:1px solid #cccccc;
    padding-right:8px;
    padding-left:10px;
}

.about{
    margin-right:6px;
}

h2{
    color:#4aaaa5;
    border-bottom:solid 1px #cccccc;
    width:930px;
    margin-left:10px;
    margin-right:10px;
}
.background{
    background-image:url("../../dynamic-style.png");
    height:700px;
    width:100%;
    padding-top:120px;
}

.container{
    margin:0 auto; 
    border: solid 2px #dddddd;
    width:959px;
    background-color:#ffffff;
    height:500px; 
}
.form{
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}
.submit{
    background-color:#4aaaa5;
    color:#ffffff;
    padding-left:13px;
    padding-right:13px;
    padding-top:4px;
    padding-bottom:4px;
}
footer{
    text-align: center;
    padding: 30px 0;
    height: 50px;
    font-size: 12px;
    color: #cccccc;  
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif
}

.copyright{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}