* {
    box-sizing: border-box;
}





header{
    position: relative;
    z-index: 99;
    width: 100%;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
  

    .name{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 90px;
    width: 300px;
    height: 90px;
    }

.topcontainer{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h2{
    color:#4aaaa5;
    border-bottom:solid 1px #cccccc;
    width:940px;
    margin-left:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin:0 auto; 
    border: solid 2px #dddddd;
    width:959px;
    background-color:#ffffff;
    height:680px;

}

.background{
    background-image:url("../../dynamic-style.png");
    height:720px;
    width:100%;
    padding-top:20px;
}

li, a {
    text-decoration: none;
    color:#999;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    float:right;
    margin-top:20px;
}

.contact{
    border-left: 1px solid #cccccc;
    padding-left:10px;
    margin-right:20px;
}

.portfolio{
    border-left:1px solid #cccccc;
    padding-right:8px;
    padding-left:10px;
}

.about{
    padding-left:10px;
    margin-right:8px;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    width:500px;
}

.box{
    position:relative; 
    width:200px;
    height:170px;
    margin:10px;  
}
.text{
    position:absolute;
    text-align:center;
    left:54.5%;
    top:75%;
    transform: translate(-50%,-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:white;
    Padding:10px;
    width:200px;
    margin-left:1.4px;  
}
.img{
    margin:10px;
}

footer{
    text-align: center;
    padding: 40px 0;
    font-size: 12px;
    color: #cccccc;  
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
      }

.copyright{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    padding-top:20px;
}